# Byte-compiled / cache files
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Flask instance folder
instance/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
